@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-header {
    background-color: #ff0000; /* Replace with your desired color */
    /* Add any other styles as needed */
}

.bg-store1 {
    background-image: url('/resources/img/c11.png');
}

.bg-store2 {
    background-image: url('/resources/img/c11.png');
}

.bg-store3 {
    background-image: url('/resources/img/c11.png');
}

